fastapi>=0.104.0
uvicorn[standard]
python-multipart
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-nvidia-ai-endpoints
langchain-groq
chromadb
sentence-transformers
pypdf
python-docx
pydantic-settings
overrides
docx2txt